In [28]:
import duckdb
import pandas as pd

In [29]:
csv = pd.read_csv('/Users/mak/Desktop/Code_With_Me/Sentiment project/Dataset.csv')

In [30]:
# Path to the database (can be a new file or existing)
db_path = "database.duckdb"

# Connect to the database (creates it if it doesn't exist)
con = duckdb.connect(db_path)

# Read the CSV file


con.execute("CREATE TABLE fit AS SELECT * FROM csv")

# Close the connection (optional)
con.close()

In [35]:
with duckdb.connect(db_path) as con:
    result = con.execute("SELECT * FROM fit")

In [36]:
df = pd.DataFrame(columns=['ds','yhat'])

In [38]:
df.to_csv('predictions.csv',index=False)

In [59]:
row = list(csv.)

In [60]:
row

['Date',
 'content',
 'negative',
 'positive',
 'neutral',
 'anger',
 'disgust',
 'fear',
 'joy',
 'sadness',
 'surprise',
 'others',
 'Close']

In [3]:
import pandas as pd
import pendulum
import yfinance as yf

In [8]:
sp = yf.download("^GSPC", start="2022-01-01", end= "2024-07-13" )

[*********************100%%**********************]  1 of 1 completed

In [9]:
sp

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,4778.140137,4796.640137,4758.169922,4796.560059,4796.560059,3831020000
2022-01-04,4804.509766,4818.620117,4774.270020,4793.540039,4793.540039,4683170000
2022-01-05,4787.990234,4797.700195,4699.439941,4700.580078,4700.580078,4887960000
2022-01-06,4693.390137,4725.009766,4671.259766,4696.049805,4696.049805,4295280000
2022-01-07,4697.660156,4707.950195,4662.740234,4677.029785,4677.029785,4181510000
...,...,...,...,...,...,...
2024-07-08,5572.750000,5583.109863,5562.509766,5572.850098,5572.850098,3185670000
2024-07-09,5584.240234,5590.750000,5574.569824,5576.979980,5576.979980,3232920000
2024-07-10,5591.259766,5635.390137,5586.439941,5633.910156,5633.910156,3336100000
2024-07-11,5635.209961,5642.450195,5576.529785,5584.540039,5584.540039,4020950000
2024-07-12,5590.759766,5655.560059,5590.439941,5615.350098,5615.350098,3700280000

In [33]:
from newsapi import NewsApiClient
import datetime as dt

# Init
newsapi = NewsApiClient(api_key='714c6beeeb124f2eb820a2e6452d1601')


# /v2/everything
all_articles = newsapi.get_everything(q='stocks',
                        
                                      from_param=str((dt.datetime.today() - dt.timedelta(days=7)).strftime('%Y-%m-%d')),
                                      to=str(dt.datetime.today().strftime('%Y-%m-%d')),
                                      language='en',
                                      sort_by='relevancy',
                                      page=2)

# /v2/top-headlines/sources

In [34]:
arti = pd.DataFrame(all_articles['articles'])
arti

,source,author,title,description,url,urlToImage,publishedAt,content
0,"{'id': None, 'name': 'Biztoc.com'}",apnews.com,Stock market today: Wall Street's record-break...,Most U.S. stocks are ticking higher Wednesday ...,https://biztoc.com/x/dd13bde0235c5a84,https://biztoc.com/cdn/dd13bde0235c5a84_s.webp,2024-07-10T13:56:12Z,Most U.S. stocks are ticking higher Wednesday ...
1,"{'id': None, 'name': 'Biztoc.com'}",cnbc.com,Stocks making the biggest moves midday: Wells ...,Check out the companies making headlines in mi...,https://biztoc.com/x/73c05274a4f92e87,https://biztoc.com/cdn/799/og.png,2024-07-12T16:07:30Z,Check out the companies making headlines in mi...
2,"{'id': None, 'name': 'Biztoc.com'}",marketwatch.com,"Home builders, flooring companies and pool mak...",The stocks of home builders were rallying acro...,https://biztoc.com/x/2a0272acafdf2994,https://biztoc.com/cdn/799/og.png,2024-07-11T17:04:42Z,The stocks of home builders were rallying acro...
3,"{'id': None, 'name': 'Forbes'}","Molly Bohannon, Forbes Staff, \n Molly Bohanno...",Archegos Founder Bill Hwang Found Guilty Of Fr...,Bill Hwang was found guilty on 10 of 11 charge...,https://www.forbes.com/sites/mollybohannon/202...,https://imageio.forbes.com/specials-images/ima...,2024-07-10T22:09:30Z,"A jury found Bill Hwang, founder of Archegos C..."
4,"{'id': None, 'name': 'Yahoo Entertainment'}",Summer Zhen,Hedge funds turn to South Korea for next wave ...,Hedge funds hunting for artificial intelligenc...,https://finance.yahoo.com/news/hedge-funds-tur...,https://media.zenfs.com/en/reuters-finance.com...,2024-07-11T03:38:20Z,By Summer Zhen\r\nHONG KONG (Reuters) - Hedge ...
...,...,...,...,...,...,...,...,...
95,"{'id': None, 'name': 'Yahoo Entertainment'}",None,Exploring Undervalued Stocks on the Indian Exc...,None,https://consent.yahoo.com/v2/collectConsent?se...,None,2024-07-10T01:02:37Z,"If you click 'Accept all', we and our partners..."
96,"{'id': None, 'name': 'Yahoo Entertainment'}",None,2 Beaten-Down Stocks to Buy Right Now,None,https://consent.yahoo.com/v2/collectConsent?se...,None,2024-07-10T09:45:00Z,"If you click 'Accept all', we and our partners..."
97,"{'id': None, 'name': 'Yahoo Entertainment'}",None,Cambricon Technologies Leads Three Growth Stoc...,None,https://consent.yahoo.com/v2/collectConsent?se...,None,2024-07-09T13:05:12Z,"If you click 'Accept all', we and our partners..."
98,"{'id': None, 'name': 'Yahoo Entertainment'}",editorial-team@simplywallst.com (Simply Wall St),SEHK Dividend Stocks With Yields Ranging From ...,Amidst a backdrop of global economic shifts an...,https://finance.yahoo.com/news/sehk-dividend-s...,https://media.zenfs.com/en/simply_wall_st__316...,2024-07-10T23:05:44Z,Amidst a backdrop of global economic shifts an...
99,"{'id': None, 'name': 'Yahoo Entertainment'}",editorial-team@simplywallst.com (Simply Wall St),Top German Dividend Stocks To Consider In July...,"As of July 2024, Germany's economic landscape ...",https://finance.yahoo.com/news/top-german-divi...,https://media.zenfs.com/en/simply_wall_st__316...,2024-07-11T03:04:12Z,"As of July 2024, Germany's economic landscape ..."

In [36]:
arti.publishedAt.min()

'1970-01-01T00:00:00Z'

In [44]:
from newsdataapi import NewsDataApiClient
apikey = "pub_484350d0460b3a6d9a45319e3f2fcfe2f8dc3"


api = NewsDataApiClient(apikey=apikey)


response = api.news_api( q = 'bitcoin' ,language="en" )

articles = pd.DataFrame(response['results'])
articles = articles[['pubDate', 'title']]

/var/folders/ml/zd6cs33j1gs1prd5lpns9pnc0000gn/T/ipykernel_5810/860216299.py:8: DeprecationWarning: This method is deprecated and will be removed in upcoming updates, Instead use latest_api()
  response = api.news_api( q = 'bitcoin' ,language="en", timeframe='1d')

NewsdataException: {'status': 'error', 'results': {'message': 'Access Denied! To use the timeframe parameter, please upgrade your plan or contact support.', 'code': 'InvalidRequest'}}

In [42]:
articles

               pubDate                                              title
0  2024-07-14 05:51:29  Bitcoin hits $60,000 as Trump shooting boosts ...
1  2024-07-14 05:41:48  Here's how Bitcoin and Ethereum have performed...
2  2024-07-14 05:00:31  Crypto Fervor: BDAG’s Dashboard Pulls in High ...
3  2024-07-14 04:28:00  Bitcoin rises as Trump shooting seen increasin...
4  2024-07-14 04:14:36  Bitcoin rises as Trump shooting seen increasin...
5  2024-07-14 04:14:36  Bitcoin rises as Trump shooting seen increasin...
6  2024-07-14 04:00:18  Hong Kong authorities gaining experience in di...
7  2024-07-14 03:38:41  Agent involved in smuggling Telangana youth to...
8  2024-07-14 03:22:13             Revolut's new banking licence strategy
9  2024-07-14 03:16:11  Telangana: Key suspect in Cambodia cybercrime ...

In [45]:
import pandas as pd


dataset = pd.read_csv('/Users/mak/Desktop/Code_With_Me/Sentiment project/Dataset.csv')

In [46]:
dataset.head(2)

,Date,content,negative,positive,neutral,anger,disgust,fear,joy,sadness,surprise,others,Close
0,2008-08-08,Georgia 'downs two Russian warplanes' as count...,0.958023,0.002330,0.039647,0.005730,0.747005,0.007258,0.002787,0.018063,0.002183,0.216975,1296.319946
1,2008-08-11,Why wont America and Nato help us? If they won...,0.520679,0.012596,0.466726,0.973947,0.009760,0.001813,0.003058,0.001230,0.002144,0.008047,1305.319946

In [47]:
dataset.columns

Index(['Date', 'content', 'negative', 'positive', 'neutral', 'anger',
       'disgust', 'fear', 'joy', 'sadness', 'surprise', 'others', 'Close'],
      dtype='object')

In [48]:
fit = dataset[['Date','negative', 'positive', 'neutral', 'anger',
       'disgust', 'fear', 'joy', 'sadness', 'surprise', 'others', 'Close']]

In [49]:
fit

,Date,negative,positive,neutral,anger,disgust,fear,joy,sadness,surprise,others,Close
0,2008-08-08,0.958023,0.002330,0.039647,0.005730,0.747005,0.007258,0.002787,0.018063,0.002183,0.216975,1296.319946
1,2008-08-11,0.520679,0.012596,0.466726,0.973947,0.009760,0.001813,0.003058,0.001230,0.002144,0.008047,1305.319946
2,2008-08-12,0.652820,0.007342,0.339837,0.009456,0.780139,0.002923,0.002713,0.002190,0.002594,0.199984,1289.589966
3,2008-08-13,0.562527,0.007450,0.430024,0.007003,0.489413,0.004274,0.004038,0.003949,0.002458,0.488864,1285.829956
4,2008-08-14,0.532804,0.009038,0.458158,0.002622,0.069588,0.002951,0.004706,0.001285,0.004277,0.914570,1292.930054
...,...,...,...,...,...,...,...,...,...,...,...,...
23354,2024-06-28,0.018852,0.019572,0.961576,0.001341,0.005474,0.003159,0.008985,0.001815,0.001767,0.977460,5460.479980
23355,2024-06-24,0.002692,0.094768,0.902540,0.001613,0.001719,0.001757,0.196413,0.001545,0.005282,0.791671,5447.870117
23356,2024-06-13,0.001084,0.921488,0.077428,0.002099,0.001327,0.000969,0.955924,0.001296,0.002439,0.035946,5433.740234
23357,2024-06-25,0.040496,0.021742,0.937762,0.001595,0.004107,0.009371,0.012283,0.001388,0.001965,0.969291,5469.299805
23358,2024-06-28,0.241377,0.009429,0.749194,0.001269,0.002054,0.007286,0.014833,0.002468,0.005590,0.966501,5460.479980

In [50]:
fit.to_csv('fit_data.csv', index=False)

In [51]:
fit = pd.read_csv('/Users/mak/Desktop/Code_With_Me/Sentiment project/fit_data.csv')

In [52]:
fit.columns

Index(['Date', 'negative', 'positive', 'neutral', 'anger', 'disgust', 'fear',
       'joy', 'sadness', 'surprise', 'others', 'Close'],
      dtype='object')

In [54]:
fit = fit.groupby('Date')[['negative', 'positive', 'neutral', 'anger', 'disgust', 'fear','joy', 'sadness', 'surprise', 'others', 'Close']].mean()

In [57]:
fit.reset_index(inplace=True)

In [58]:
fit

,Date,negative,positive,neutral,anger,disgust,fear,joy,sadness,surprise,others,Close
0,2008-08-08,0.958023,0.002330,0.039647,0.005730,0.747005,0.007258,0.002787,0.018063,0.002183,0.216975,1296.319946
1,2008-08-11,0.520679,0.012596,0.466726,0.973947,0.009760,0.001813,0.003058,0.001230,0.002144,0.008047,1305.319946
2,2008-08-12,0.652820,0.007342,0.339837,0.009456,0.780139,0.002923,0.002713,0.002190,0.002594,0.199984,1289.589966
3,2008-08-13,0.562527,0.007450,0.430024,0.007003,0.489413,0.004274,0.004038,0.003949,0.002458,0.488864,1285.829956
4,2008-08-14,0.532804,0.009038,0.458158,0.002622,0.069588,0.002951,0.004706,0.001285,0.004277,0.914570,1292.930054
...,...,...,...,...,...,...,...,...,...,...,...,...
3930,2024-07-08,0.641210,0.009790,0.349000,0.001851,0.004687,0.229126,0.016936,0.009457,0.003660,0.734283,5572.850098
3931,2024-07-09,0.033358,0.027031,0.939611,0.001008,0.007430,0.004942,0.006663,0.001143,0.002407,0.976408,576.979980
3932,2024-07-10,0.010092,0.531152,0.458756,0.001109,0.003288,0.009501,0.012434,0.002577,0.002915,0.968175,5633.910156
3933,2024-07-11,0.004642,0.034075,0.961283,0.001650,0.002085,0.006352,0.017086,0.002501,0.003237,0.967089,5584.540039
3934,2024-07-12,0.241377,0.009429,0.749194,0.001269,0.002054,0.007286,0.014833,0.002468,0.005590,0.966501,5615.350098

In [59]:
fit.to_csv('fit_data.csv',index=False)

In [79]:

api = NewsDataApiClient(apikey=apikey)


response = api.news_api( q = 'stocks' ,language="en", )

articles = pd.DataFrame(response['results'])

articles = articles[['pubDate', 'title']]

articles.pubDate = pd.to_datetime(articles.pubDate)

articles.pubDate = articles.pubDate.apply(lambda x : x.strftime('%Y-%m-%d'))

articles.pubDate = articles.pubDate.astype(object)


articles.to_csv('news_feed.csv',index=False) #for the news feed feature

articles = articles.groupby('pubDate')['title'].sum()

articles = pd.DataFrame(articles)

articles = articles.reset_index()

articles = articles[articles['pubDate'] == str(dt.date.today() - dt.timedelta(days = 1))]

articles.loc[:,'pubDate'] = str(dt.date.today())

articles

articles = articles.rename(columns = {'pubDate' : 'ds'})



articles

/var/folders/ml/zd6cs33j1gs1prd5lpns9pnc0000gn/T/ipykernel_5810/2257308899.py:4: DeprecationWarning: This method is deprecated and will be removed in upcoming updates, Instead use latest_api()
  response = api.news_api( q = 'stocks' ,language="en", )

           ds                                              title
0  2024-07-14  BCCI to release Rs 1 crore for Anshuman Gaikwa...

In [14]:
spnew = yf.download("^GSPC", start="2022-01-01", end=dt.date.today())

spnew = spnew.reset_index()

spnew.to_csv('/Users/mak/Desktop/Code_With_Me/Sentiment project/sp500.csv',index=False)

spn = spnew[['Close']]

lastclose = spn.iloc[-1]

lastclose = pd.DataFrame(lastclose).T.reset_index()


lastclose = lastclose.drop('index', axis=1)


oldfit = pd.read_csv('/Users/mak/Desktop/Code_With_Me/Sentiment project/no_close_fit.csv')

new = pd.concat([oldfit, lastclose], axis=1)

new = new.rename(columns = {'ds' : 'Date'})

fit_data = pd.read_csv('/Users/mak/Desktop/Code_With_Me/Sentiment project/fit_data.csv')

fit_data = pd.concat([fit_data, new], axis=0)

fit_data.to_csv('/Users/mak/Desktop/Code_With_Me/Sentiment project/fit_data.csv', index=False)

[*********************100%%**********************]  1 of 1 completed

In [32]:
import yfinance as yf
import datetime as dt
import schedule
import pandas as pd


sp = yf.download("^GSPC", start="2024-01-01", end=dt.date.today())

sp = sp.reset_index()

sp.tail()

[*********************100%%**********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume
129,2024-07-09,5584.240234,5590.750000,5574.569824,5576.979980,5576.979980,3232920000
130,2024-07-10,5591.259766,5635.390137,5586.439941,5633.910156,5633.910156,3336100000
131,2024-07-11,5635.209961,5642.450195,5576.529785,5584.540039,5584.540039,4020950000
132,2024-07-12,5590.759766,5655.560059,5590.439941,5615.350098,5615.350098,3700280000
133,2024-07-15,5638.160156,5666.939941,5614.750000,5631.220215,5631.220215,2413952000

In [33]:
from prophet import Prophet

fit_data = pd.read_csv('/Users/mak/Desktop/Code_With_Me/Sentiment project/fit_data.csv')
fit_data = fit_data.rename(columns = {'Date': 'ds', 'Close':'y'})
p = Prophet()
p.add_regressor('negative')
p.add_regressor('positive')
p.add_regressor('neutral')
p.add_regressor('anger')
p.add_regressor('disgust')
p.add_regressor('fear')
p.add_regressor('joy')
p.add_regressor('sadness')
p.add_regressor('surprise')
p.add_regressor('others')
p.add_country_holidays(country_name='US')

p.fit(fit_data)

12:06:32 - cmdstanpy - INFO - Chain [1] start processing
12:06:41 - cmdstanpy - INFO - Chain [1] done processing